{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">Ugur Yasin KUCUK.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hello, I'm Uğur Yasin Küçük. I'm 22 years old. I am a student of management information systems at Marmara University.</p>
        <p>I work on Software Development Processes and Software Test Automation.
        <p>I am trying to take my knowledge and skills that I learned during my undergraduate education to the next level. I created this blog page with the course I took to improve myself.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}